*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #0F172A;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img,
iframe {
    max-width: 100%;
}

a,
button {
    color: inherit;
    font-size: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
}

.main-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    margin: 0;
    list-style: none;
}

.listItem {
    padding: 12px 8px;
    margin: 0 12px;
}

.link {
    text-decoration: none;
    font-weight: 300;
}

.btn {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    margin-right: 24px;
}

.btn-primary {
    background-color: blue;
    color: white;
}

.main {
    display: flex;
    background: url("images/main-img.png") right 0 center / 45% auto no-repeat;
    padding: 80px 0;
}

.main__title {
    color: #0F172A;
    font-size: 72px;
    line-height: 110%;
    margin: 0;
}
.main__info {
    font-size: 24px;
    line-height: 1.6;
}

.main__section {
    flex-basis: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}